body {
  background:#555555;
    display:flex;
  justify-content:center;
  align-items:center; 
}

div{
  background:#CCCCCC;
  margin:10px;
  position: absolute;
  top: 50%;
  left: 65%;
  margin: -150px 0 0 -300px;
}
.circle {
  width:300px;
  height:300px;
  border-radius: 50%;
  box-shadow: 0 0 30px .6px;
}
.heart{
    animation-name:heartmove;
  animation-duration:4s;
  animations-iteration-count:infinite;
  animation-direction:alternate;

}
.heart:before,.heart:after{
  position:absolute;
  content:"";
  left:50px;
  top: 0;
  width: 50px;
  height: 80px;
  background: red;
  -moz-border-radius: 50px 50px 0 0;
  border-radius: 50px 50px 0 0;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
  -moz-transform-origin: 0 100%;
  -ms-transform-origin: 0 100%;
  -o-transform-origin: 0 100%;
  transform-origin: 0 100%;
   top:110px;
  left:250px;
}
.heart:after{
   left: 0;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transform-origin: 100% 100%;
  -moz-transform-origin: 100% 100%; 
  -ms-transform-origin: 100% 100%;
  -o-transform-origin: 100% 100%; 
  transform-origin :100% 100%; 
  top:110px;
  left:200px;
  
}
@keyframes heartmove {
    from { transform: 
        rotate(0turn) 
        translateY(-150px) translateY(50%)
        rotate(2turn); }
    to { transform: 
        rotate(2turn) 
        translateY(-0px) translateY(50%) 
        rotate(0turn); }
}
.avatar {
    animation: spin 4s infinite linear;
}
